<div class="register-area ptb-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-12 col-lg-6 col-xl-6 ml-auto mr-auto">
                <div class="login">
                    <div class="login-form-container">
                        <div class="login-form">
                            <form #form="ngForm" (ngSubmit)="onSumit(form)">
                                <input ngModel type="text" name="email" placeholder="Email" #email="ngModel"
                                    class="form-controler" required autofocus
                                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" email>

                                <div class="alert" *ngIf="email.touched && !email.valid">

                                    <div *ngIf="email.errors.required">
                                        Email is required
                                    </div>
                                    <div *ngIf="email.errors.pattern">
                                        Email doesn't match the pattern
                                    </div>
                                </div>
                                <input ngModel #password="ngModel" type="password" name="password"
                                    placeholder="Password" required>
                                <div class="alert " *ngIf="password.touched && password.invalid">
                                    password is required
                                </div>
                                <div class="button-box">

                                    <!-- <div class="login-toggle-btn">
                                                        <input type="checkbox">
                                                        <label>Remember me</label>
                                                        <a href="#">Forgot Password?</a>
                                                    </div> -->
                                    <button type="submit" class="default-btn floatright"
                                        [disabled]="form.invalid">Login</button>
                                </div>


                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>