<div class="register-area ptb-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-12 col-lg-12 col-xl-6 ml-auto mr-auto">
                <div class="login">
                    <div class="login-form-container">
                        <div class="login-form">
                            <form #form="ngForm" (ngSubmit)="onSubmit(form.value)">
                                <input ngModel type="text" name="name" placeholder="Username" required
                                    #username="ngModel">
                                <div class="alert alert-danger" *ngIf="username.touched && !username.valid">
                                    <div *ngIf="username.errors.required">
                                        username is required
                                    </div>
                                </div>
                                <input ngModel name="email" placeholder="Email" type="email" #email="ngModel"
                                    class="form-controler" required autofocus
                                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" email>

                                <div class="alert " *ngIf="email.touched && !email.valid">
                                    <div *ngIf="email.errors.required">
                                        Email is required
                                    </div>
                                    <div *ngif="email.errors.pattern">
                                        Email doesn't match the pattern</div>
                                </div>
                                <input ngModel type="text" name="address" placeholder="address" required
                                    #address="ngModel">
                                <div class="alert alert-danger" *ngIf="address.touched && !address.valid">
                                    <div *ngIf="address.errors.required">
                                        address is required
                                    </div>
                                </div>
                                <input ngModel type="password" name="password" placeholder="Password" required
                                    #password="ngModel">
                                <div class="alert alert-danger" *ngIf="password.touched && !password.valid">
                                    <div *ngIf="password.errors.required">
                                        password is required
                                    </div>
                                </div>
                                <div class="button-box">

                                    <button type="submit" class="default-btn floatright"
                                        [disabled]="form.invalid">Register</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>