<div class="register-area ptb-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-12 col-lg-12 col-xl-6 ml-auto mr-auto">
                <div class="login">
                    <div class="login-form-container">
                        <div class="login-form">
                            <form #form="ngForm" (ngSubmit)="onSubmit(form.value)">
                                <input ngModel type="text" name="name" placeholder="Username">
                                <input ngModel type="password" name="password" placeholder="Password">
                                <input ngModel name="email" placeholder="Email" type="email" #email="ngModel"
                                    class="form-controler ng-invalid ng-dirty ng-touched" required autofocus
                                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">

                                <div class="alert alert-danger" *ngIf="email.touched && !email.valid">
                                    <div *ngIf="email.errors.required">
                                        Email is required
                                    </div>
                                    <div *ngif="email.errors.pattern">
                                        Email doesn't match the pattern</div>
                                </div>
                                <div class="button-box">

                                    <button type="submit" class="default-btn floatright">Register</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>