<div id="features-area" class="features-area pt-200 pb-145">
    <div class="container-fulwidth">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <div class="feature-list">
                    <div class="single-features-list normal-device">
                        <div class="feature-list-icon">
                            <img src="assets/img/icon-img/35.png" alt="">
                        </div>
                        <div class="feature-list-text text-right">
                            <h3>Play <span>Music</span></h3>
                            <p>Lorem Ipsum is simply dummy text of the typesetting industry.</p>
                        </div>
                    </div>
                    <div class="single-features-list normal-device middle-features-list">
                        <div class="feature-list-icon">
                            <img src="assets/img/icon-img/36.png" alt="">
                        </div>
                        <div class="feature-list-text text-right">
                            <h3>Camera <span>Shots</span></h3>
                            <p>Lorem Ipsum is simply dummy text of the typesetting industry.</p>
                        </div>
                    </div>
                    <div class="single-features-list mrn-nn normal-device">
                        <div class="feature-list-icon">
                            <img src="assets/img/icon-img/37.png" alt="">
                        </div>
                        <div class="feature-list-text text-right">
                            <h3>Heart <span>Rate</span></h3>
                            <p>Lorem Ipsum is simply dummy text of the typesetting industry.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 text-center">
                <div class="feature-top">
                    <div class="feature-img">
                        <img src="assets/img/logo/Logo.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="feature-list res2">
                    <div class="single-features-list2 sfl-lsft normal-device">
                        <div class="feature-list-icon2">
                            <img src="assets/img/icon-img/38.png" alt="">
                        </div>
                        <div class="feature-list-text2 res1">
                            <h3>Colling <span>Support</span></h3>
                            <p>Lorem Ipsum is simply dummy text of the typesetting industry.</p>
                        </div>
                    </div>
                    <div class="single-features-list2 sfl-lsft normal-device middle-features-list2">
                        <div class="feature-list-icon2">
                            <img src="assets/img/icon-img/39.png" alt="">
                        </div>
                        <div class="feature-list-text2">
                            <h3>Pedometer <span>Run</span></h3>
                            <p>Lorem Ipsum is simply dummy text of the typesetting industry.</p>
                        </div>
                    </div>
                    <div class="single-features-list2 mrn-nn sfl-lsft normal-device">
                        <div class="feature-list-icon2">
                            <img src="assets/img/icon-img/40.png" alt="">
                        </div>
                        <div class="feature-list-text2 res1">
                            <h3>Weather <span>Support</span></h3>
                            <p>Lorem Ipsum is simply dummy text of the typesetting industry.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>